# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Streamlit specific
/.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.swp
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.csv
*.xlsx
*.xls